doctype html
html(lang="en")
    head
        - var name = '来此购网上购物商城'
        title= name
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="node_modules/semantic/dist/semantic.css")
        link(rel="stylesheet", type="text/css" href="./styles/main.css")
        script(src="./lib/jquery.js")

        script(src="node_modules/semantic/dist/semantic.js")
    body#home
        header
            h5#logo  欢迎光临来此购网上购物商城
        div.container
            div.ui.inverted.masthead.segment
                include ./views/navBar.jade
                div(class="ui page grid")
                    div(class="row")
                        div(class="four wide column")
                            img(src="images/cat.png" class="ui medium vertical image")
                        div(class="twelve wide column")
                            div(class="ui vertical feature inverted warmth segment")
                                div(class="ui centered page green grid")
                                    div(class="fourteen wide column")
                                        p.
                                            亲们，欢迎光临【LetUsGo】商城。
                                        p.
                                            不管晴天雨天，能够见到您的一天，就是明媚的一天。
                                        p.
                                            选择来此购，享受购来此。来此购购物商城，您购物最好的选择！么么哒！

            include ./views/shopDesc.jade
