doctype html
html(lang="en")
    head
        - var name = '来此购网上购物商城'
        title= name
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="./lib/semantic.css")
        link(rel="stylesheet", type="text/css" href="./styles/main.css")
        script(src="./lib/jquery.js")

        script(src="./lib/semantic.js")
    body#home
        header
            h5#logo  欢迎光临来此购网上购物商城
        div.container
            div.ui.inverted.masthead.segment
                include ./views/navBar.jade
                include ./views/shopDesc.jade
