doctype html
html
    head
        -var pageName= "商品列表"
        title= pageName
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="../lib/semantic.css")
    body

            h1 商品列表
            table.ui.table
                thead
                    tr
                    th 名称
                    th 价格
                    th 单位
                    th 操作
                tbody
                    tr
                    td 苹果
                    td 10.0
                    td 千克
                    td 购买

                    tr
                    td 苹果
                    td 10.0
                    td 千克
                    td 购买

                    tr
                    td 苹果
                    td 10.0
                    td 千克
                    td 购买

