div(class="ui page grid")
    div(class="row")
        div(class="sixteen wide column")
            div(class="ui inverted blue menu")
                div(class="left menu")
                    a(class="ui item") LetUsGo
                    a(class="ui link item") 主页
                    a(class="ui link item") 商城
                    a(class="ui link item") 商城管理
                div(class="right menu")
                    a(class="ui link item") 购物车
    div(class="row")
        div(class="four wide column")
            img(src="images/cat.png" class="ui medium vertical image")
        div(class="twelve wide column")
            div(class="ui vertical feature inverted warmth segment")
                div(class="ui centered page green grid")
                    div(class="fourteen wide column")
                        p.
                            亲们，欢迎光临【LetUsGo】商城。
                        p.
                            不管晴天雨天，能够见到您的一天，就是明媚的一天。
                        p.
                            选择来此购，享受购来此。来此购购物商城，您购物最好的选择！么么哒！

