div(class="ui page grid")
    div(class="row")
        div(class="sixteen wide column")
            div(class="ui inverted blue menu")
                div(class="left menu")
                    a(class="ui item") LetUsGo
                    a#homeLink(class="ui link item") 主页
                    a(class="ui link item") 商城
                    a(class="ui link item") 商城管理
                div(class="right menu")
                    a(class="ui link item") 购物车
