div(class="ui vertical feature")
    div(class="ui centered page grid")
        div(class="fourteen wide column")
            p.
                出口法国品牌Taproom Prince2011发布会新款羽绒服到店。
                 全部出自骨灰级顶级一线设计师之手，不论是整体风格还是细节的把握，都做到极致苛刻。
                 选择Taproom Prince-品味和品质的保证，让您的生活不再单调！！让您足不出户享受浪漫法国冬季之旅！！
                 ！我们立志打造淘宝最专业羽绒服店，选择"饕餮999"，我们的客服团队将为您提供最专业的服务和售后承诺，倾力为您提供一次满意开心的购物！！
            p.
                亲们，欢迎光临【爱友天衣】小店，小店刚开张，虽然店铺信誉度不高，但是东西都不错的呢，质量很好的哦，绝对性价比很高哦，衣服实物跟照片一样的呢，希望亲们能喜欢，店铺利润很低，真心赚信誉，希望能让亲们满意。我是个新人，很多地方做的不够好，希望亲们谅解。 不管晴天雨天，能够见到您的一天，就是明媚的一天。 这是我的店铺介绍语，希望对你有帮助。
                服装店简介：带促销
            p.
                我店产品全部来自正规的渠道，以最直接有效的方式送达最终端消费者手里，避免了中间过多的流通环节。并且本店一直是以薄利多销为原则，在有合理利润的基础下将尽最大可能让利给大家，所以才会比专柜便宜许多!!

    div(class="ui centered page grid")
        div(class="fourteen wide column")
            div(class="ui three column center aligned  divided grid")
                div.column
                    a.ui.green.right.labeled.icon.button(href="./views/shop.html") 去商城
                        i.right.chevron.icon
